[color]
	status = auto
	diff = auto
	branch = auto
	interactive = auto
	grep = auto
[merge]
	tool = vimdiff
[alias]
	a = add
	ap = add -p
	co = checkout
	cob = checkout -b
	com = checkout master
[gc]
	auto = 0
