[color]
	branch = auto
	diff = auto
	grep = auto
	interactive = auto
	status = auto
	ui = true
[merge]
	tool = vimdiff
[alias]
	co = checkout
	cob = checkout -b
	com = checkout master
	a = add
[gc]
	auto = 0
[user]
	name = wanashi
	email = contact@wanashi.com
[push]
	 default = current
[color "diff"]
	meta = yellow
	frag = cyan
	old = red
	new = green
[color "status"]
	meta = yellow
	frag = cyan
	old = pink
	new = green
[core]
	editor = vim -c \"set fenc=utf-8\"
[user]
	name = wanashi
	email = contact@wanashi.com
[init]
	templatedir = /Users/wanashi/.git_template
