[alias]
	# List aliases
	aliases = config --get-regexp alias

	# Show verbose output about tags, branches or remotes
	tags = tag -l
	branches = branch -a
	remotes = remote -v

	a = add
	ap = add -p
	b = branch
	bD = branch -D
	bd = branch -d
	c = commit
	co = checkout
	cob = checkout -b
	com = checkout master
	d = !"git diff-index --quiet HEAD -- || clear; git --no-pager diff --patch-with-stat"
	dc = diff --cached
	dm = "!git branch --merged | grep -v '\\*' | xargs -n 1 git branch -d" # Remove branches that have already been merged with master
	l = log --pretty=oneline -n 20 --graph --abbrev-commit
	pl = pull
	ps = push
	s = status
	sh = stash

[core]
	# Speed up commands involving untracked files such as `git status`.
	# https://git-scm.com/docs/git-update-index#_untracked_cache
	untrackedCache = true

[color]
	# Use colors in Git commands that are capable of colored output when
	# outputting to the terminal. (This is the default setting in Git ≥ 1.8.4.)
	ui = auto

[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green

[color "diff"]
	meta = yellow bold
	frag = magenta bold # line info
	old = red # deletions
	new = green # additions

[color "status"]
	added = yellow
	changed = green
	untracked = cyan

[help]
	# Automatically correct and execute mistyped commands
	autocorrect = 1

[merge]
	tool = vimdiff
	# Include summaries of merged commits in newly created merge commit messages
	log = true

[gc]
	auto = 0

[push]
	# https://git-scm.com/docs/git-config#git-config-pushdefault
	default = simple
	# Make `git push` push relevant annotated tags when pushing branches out.
	followTags = true

[user]
	name = Shinji Kaneko
	email = contact@kanekoelastic.org
