set clipboard=unnamed
set vb

map ; :
nnoremap <Leader>v :<C-u>vsp<CR>
nnoremap sl <C-w>l
nnoremap sh <C-w>h
nnoremap sj <C-w>j
nnoremap sk <C-w>k
nnoremap <CR> o<Esc>
nnoremap <SPACE> i<SPACE><Esc>
nnoremap f <C-;>

inoremap <C-p> <up>

inoremap <C-n> <down>
inoremap <C-b> <left>
inoremap <C-f> <right>
inoremap <C-a> <C-o>0
inoremap <C-e> <C-o>$
